
* {
    box-sizing: border-box;
}

h1 {
    font-family: Georgia;
    font-size: 36px;
    font-weight: 400;
}

h2 {
    font-family: Montserrat;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3px;
}

h3 {
    font-family: Georgia;
    font-size: 24px;
    font-weight: 400;
    margin: 24 0 0 0;
}

h4,
h4 a:link,
h4 a:visited,
blockquote {
    font-family: Georgia;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

p {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 20px;
    color: #1C1C1C;
}

body {
    max-width: 50%;
    margin: auto;
    /* background-color: red; */
    margin: 0 auto;
    display: inline;
    background-color: #F7F9FB;
}

figure {
    margin: 0px;
}

figcaption {
    width: 630px;
    margin: 0;
    padding: 12px;
    display: flex;
    background-color: #676767;
    font-family: Montserrat;
    font-size: 12px;
    color: white;
}

.image-caption-icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

blockquote {
    margin: 0 24px;
    padding: 16px;
    border-left: solid 2px #C5C5C5;
}

.no-decoration {
    text-decoration: none;
}

.subtitle {
    font-family: Montserrat;
    font-size: 12px;
    color: #898D97;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.selected {
    font-weight: bold;
    color: #363A45;
}

.no-margin {
    margin: 0;
}


.menu-ul {
    list-style: none;
    text-align: center;
    font-family: Montserrat;
    padding: 40px 0px;
    margin: 0px;
}

.menu-ul > li > .selected {
    font-weight: bold;
}


.menu-ul > li {
    display: inline-block;
    padding-left: 20px;
}

.menu-ul > li:first-child{
    padding-left: 0px;
}

.container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-content> span {
    margin: -28px 0 0 0;
}

/* Image for content at the top */
.container-featured {
    text-align: center;
    background-color: #EAEFF2;
    padding: 40px 0;
    margin: 0;
}

.container-content > h2 {
    margin: 0 0 40 0;
}

.social-icons {
    width: 126px;
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}

.container-blog-posts-group {
    width: 910px;
    margin: 40px auto 40px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 213px 213px 213px 213px;
    grid-template-rows: 326px 326px 326px 326px;

}

.featured-blog-link {
    color: #000000;
    padding: 0;
}

.image-featured {
    width: 910px;
    height: 325px;
    background-image: url(../img/blog-img_header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.image-featured-old {
    width: 910px;
    height: 325px;
}

.featured-blog-post {
    margin: 40px 0 0 0;
}

.blog-title-info {
    margin: -30px auto 10px auto;
    padding: 30px 0 36px 0;
    width: 754px;
    background-color: #FFFFFF;
    display: inline-block;
}

.blog-title-info > a > h1 {
    margin: 0px 0px 10px 0px;
}

.blog-image {
    width: 213px;
    height: 243px;
    margin: 0;
    padding: 0;
}

.blog-post {
    background-color: #FFFFFF;
}

.blog-post-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    height: 83px;
    margin: 0;
}

.blog-post-info > h4 {
    margin: 12px 0px 8px 0px;
}

.blog-post-info > .subtitle {
    margin: 0px 0px 12px;
}

.post-page-title {
    margin: 0px 0px 12px 0px;
}

.container-post-content-group {
    width: 910px;
    margin: 40px auto 40px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 678px 212px;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "one two"
        "one three"
        "four four"
}

.post-content {
    background-color: #FFFFFF;
    padding: 24px;
    grid-area: one;
}

.post-content > p:first-child {
    margin-top: 0px;
}

.post-content > p:last-child {
    margin-bottom: 0px;
}

.post-author-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-author-group > h2 {
    margin-top: 0px;
}

.post-author {
    background-color: #FFFFFF;
    padding: 24px;
    grid-area: two;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-author > img {
    display: block;
    margin: 0 auto;
}

.post-author > h4 {
    text-align: center;
    margin: 0;
    padding: 24 0 8 0;
}

.post-author > p {
    margin: 0;
}

.related-content {
    grid-area: four;
}

.related-content > h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.related-posts-group {
    width: 910px;
    margin: 0px auto 40px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 213px 213px 213px 213px;
    grid-template-rows: 326px;
}

.featured-post-button {
    background-color: #10AFD6;
    font-family: Montserrat;
    font-size: 12;
    color: white;
    padding: 8px;
    margin: -24px 0 0 0;
}

footer {
    background-color: #EAEFF2;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 60px 0 0 0;
    padding: 20px 0;
}

.footer-name {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12px;
    color: #898D97;
    margin: 0px;
}