/****************************************************************************************
*****************************************************************************************
*****                 Responsive Media Queries (1024px and below, for tablet)
*****************************************************************************************
****************************************************************************************/

@media only screen and (max-width: 1024px) {
    .image-featured {
        width: 550px;
        height: 196px;
    }

    .blog-title-info {
        margin: 0px;
        width: 550px;
        padding: 16px 16px 36px;
    }

    /* Homepage: blog post card image size */
    .container-blog-posts-group > .blog-post > a > .blog-image {
        width: 265px;
        height: 304px;
    }

    /* Homepage: changing the position of the featured post button */
    .featured-post-button {
        margin: -15px 0 0 0;
    }

    /* Blog post: Change the related post image size */
    .related-posts-group > .blog-post > a > img {
        width: 194px;
        height: 221px;
    }

    .container-blog-posts-group {
        width: 550px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 265px 265px;
        grid-template-rows: 387px;
    }

    /* Reset "Author" and "Related Posts" margin top to 20px */
    .post-author-group > h2,
    .related-content > h2 {
        margin-top: 20px
    }

    /* Container for the entire content group includ post, author and related posts */
    .container-post-content-group {
        width: 692px;
        margin: 40px auto 40px auto;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 260px 194px 194px;
        grid-template-rows: auto auto;
        grid-template-areas:
            "one one one"
            "two four four"
    }

    /* Container for the related posts only */
    .related-posts-group {
        width: 407px;
        grid-template-columns: 194px 194px;
        grid-template-rows: 304px;
    }

    .related-posts-group > div:nth-child(3),
    .related-posts-group > div:nth-child(4) {
        display: none;
    }

    /* Limiting the width of the featured post title */
    .post-page-title {
        width: 692px;
    }
}